.headerContent {
  max-width: 100%;
  background-color: #1abc9c;
  text-align: center;
  padding: 25px;
  color: white;
  font-size: 3em;
  margin-bottom: 5rem;
  cursor: pointer;
  line-height: 1.4;
  font-family: "Roboto";
}

@media (max-width: 900px) {
  .headerContent {
    font-size: 1.8em;
  }
}
