.FooterContent {
  max-width: 100%;
  background-color: #2c3e50 !important;
  text-align: center;
  padding: 40px;
  color: white;
  font-size: 1.5em;
  line-height: 1.4;
  font-family: "Roboto";
}

#content {
  min-height: calc(10vh - 20px - 20px);
  margin-top: 52vh;
}

.FooterContent a {
  text-decoration: none;
  color: #2ecc71;
}

.FooterContent a:hover {
  text-decoration: none;
  color: #2ecc709c;
}

@media (max-width: 900px) {
  .FooterContent {
    font-size: 1.1em;
  }
}
