body {
  margin: 0px;
  padding: 0px;
  background-image: url("./assets//images//background.jpg");
  background-repeat: repeat;
  overflow: scroll !important;
}

* {
  box-sizing: border-box;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  overflow: scroll !important;
}
